
<div class="row">
  <div class="col-md-4">
    <%= image_tag @item.item_img.url(:item_show), class: "item_show"%>
  </div>
  <div class="col-md-8">
    <h2><%= @item.title %></h2>
    <h3><%= @item.price %></h3>
    <p><%= @item.description %></p>
  </div>
  <div class="row">
    <div class="col-md-6">

    </div>
  </div>
</div>
<% if user_signed_in? %>
    <% if @item.user_id == current_user.id %>
        <%= link_to "Edit", edit_mystore_path(@item) %>
        <%= link_to "delete", mystore_path(@item), method: :delete, data: {confirm: "are u sure?"} %>
    <% end %>
<% end %>